<div class="head-recipe">
  <div class="img-box-shadow">
    <img src="{{recipe.strMealThumb}}" alt="">
  </div>
  <div class="recipe">
    <h2>{{recipe.strMeal}}</h2>
    <p><b>Category</b>: <a routerLink="/recipe-list" [queryParams]="{'c':recipe.strCategory}">{{recipe.strCategory}}</a></p>
    <p><b>Area</b>: <a routerLink="/recipe-list" [queryParams]="{'a':recipe.strArea}">{{recipe.strArea}}</a></p>
    <div class="ingredients">
      <h3>Ingredients:</h3>
      <ol>
        <li *ngIf="filterItems(recipe.strIngredient1, recipe.strMeasure1)">{{recipe.strMeasure1 + ' ' + recipe.strIngredient1}}</li>
        <li *ngIf="filterItems(recipe.strIngredient2, recipe.strMeasure2)">{{recipe.strMeasure2 + ' ' + recipe.strIngredient2}}</li>
        <li *ngIf="filterItems(recipe.strIngredient3, recipe.strMeasure3)">{{recipe.strMeasure3 + ' ' + recipe.strIngredient3}}</li>
        <li *ngIf="filterItems(recipe.strIngredient4, recipe.strMeasure4)">{{recipe.strMeasure4 + ' ' + recipe.strIngredient4}}</li>
        <li *ngIf="filterItems(recipe.strIngredient5, recipe.strMeasure5)">{{recipe.strMeasure5 + ' ' + recipe.strIngredient5}}</li>
        <li *ngIf="filterItems(recipe.strIngredient6, recipe.strMeasure6)">{{recipe.strMeasure6 + ' ' + recipe.strIngredient6}}</li>
        <li *ngIf="filterItems(recipe.strIngredient7, recipe.strMeasure7)">{{recipe.strMeasure7 + ' ' + recipe.strIngredient7}}</li>
        <li *ngIf="filterItems(recipe.strIngredient8, recipe.strMeasure8)">{{recipe.strMeasure8 + ' ' + recipe.strIngredient8}}</li>
        <li *ngIf="filterItems(recipe.strIngredient9, recipe.strMeasure9)">{{recipe.strMeasure9 + ' ' + recipe.strIngredient9}}</li>
        <li *ngIf="filterItems(recipe.strIngredient10, recipe.strMeasure10)">{{recipe.strMeasure10 + ' ' + recipe.strIngredient10}}</li>
        <li *ngIf="filterItems(recipe.strIngredient11, recipe.strMeasure11)">{{recipe.strMeasure11 + ' ' + recipe.strIngredient11}}</li>
        <li *ngIf="filterItems(recipe.strIngredient12, recipe.strMeasure12)">{{recipe.strMeasure12 + ' ' + recipe.strIngredient12}}</li>
        <li *ngIf="filterItems(recipe.strIngredient13, recipe.strMeasure13)">{{recipe.strMeasure13 + ' ' + recipe.strIngredient13}}</li>
        <li *ngIf="filterItems(recipe.strIngredient14, recipe.strMeasure14)">{{recipe.strMeasure14 + ' ' + recipe.strIngredient14}}</li>
        <li *ngIf="filterItems(recipe.strIngredient15, recipe.strMeasure15)">{{recipe.strMeasure15 + ' ' + recipe.strIngredient15}}</li>
        <li *ngIf="filterItems(recipe.strIngredient16, recipe.strMeasure16)">{{recipe.strMeasure16 + ' ' + recipe.strIngredient16}}</li>
        <li *ngIf="filterItems(recipe.strIngredient17, recipe.strMeasure17)">{{recipe.strMeasure17 + ' ' + recipe.strIngredient17}}</li>
        <li *ngIf="filterItems(recipe.strIngredient18, recipe.strMeasure18)">{{recipe.strMeasure18 + ' ' + recipe.strIngredient18}}</li>
        <li *ngIf="filterItems(recipe.strIngredient19, recipe.strMeasure19)">{{recipe.strMeasure19 + ' ' + recipe.strIngredient19}}</li>
        <li *ngIf="filterItems(recipe.strIngredient20, recipe.strMeasure20)">{{recipe.strMeasure20 + ' ' + recipe.strIngredient20}}</li>
      </ol>
    </div>
  </div>
</div>
<div class="instructions">
  <p align="center">{{recipe.strInstructions}}</p>
</div>
<!-- <video *ngIf="recipe.strYoutube !== null && recipe.strYoutube !== ''" src="{{recipe.strYoutube}}"></video> -->
