/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

$primary: #f4f4f4;
$secondary: #232020;
$lite-secondary: #3a3535;
$accent: #ff7315;
$font: 'M PLUS Rounded 1c', sans-serif;
$size-img-small: 15rem;
$size-img: 35rem;


body {
  font-family: $font;
  background-color: $primary;
  margin: 0;

  header {
    background-color: $secondary;
  }

  input {
    font-family: $font;
    background-color: $primary;
    border: none;
    border-radius: .1rem;
    width: 12rem;
    padding: .2rem;
    color: $secondary;
    font-size: .8rem;
  }

  button {
    font-family: $font;
  }

  h1 {
    color: $accent;
  }

  a {
    text-decoration: none;
    color: $accent;
  }

  div.img-box-shadow {
    display: flex;
    margin: 1.5rem;
    box-shadow: inset 0 0 .6rem .6rem $primary;
    max-width: 15rem;
    border: none;

    img {
      position: relative;
      max-width: 14.9rem;
      z-index: -1;
      border: none;
    }
  }

  %img-box-shadow {
    display: flex;
    margin: 1.5rem;
    box-shadow: inset 0 0 .6rem .6rem $primary;
    border: none;

    img {
      position: relative;
      z-index: -1;
      border: none;
    }
  }

  div.img-box-shadow {
    @extend %img-box-shadow;
    max-width: $size-img-small;
    max-height: $size-img-small;

    img {
      max-width: $size-img-small - .1;
      max-height: $size-img-small - .1;
    }
  }

  div.img-box-shadow-recipe {
    @extend %img-box-shadow;
    max-width: $size-img;
    max-height: $size-img;

    img {
      max-width: $size-img - .1;
      max-height: $size-img - .1;
    }
  }

  hr {
    margin: 1rem;
    border-radius: .5rem;
    border: 2px solid $accent;
  }
}
